:root {
    --dark: #154360;
    --piping: #7D3C98;
    --light: #fff;
    --darker: black;
}
#titleMain {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 5px inset var(--piping);
    background-color: var(--darker);
    color: var(--light);
    font-size: 48px;
  }

