/*saved preset colors to use with variables*/
:root {
    --dark: #154360;
    --piping: #7D3C98;
    --light: #fff;
    --darker: black;
  }
p {
  font-size: 20px;
  color:var(--light)
}

#pageMain {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--light);
  font-size: 48px;
}