:root {
    --dark: #154360;
    --piping: #7D3C98;
    --light: #fff;
    --darker: black;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    color: var(--light);
    font-style: italic;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 20px;
    border-style: groove;
}

.contact a:hover {
    animation: synth 2s infinite;
}

.contact a{
    color: var(--light);
}

.contact a:hover {
    color: inherit;
}

footer {
    text-align: center;
    font-style: italic;
}

@keyframes synth {
    0% {
        color: darkblue;
    }

    20% {
        color: blue;
    }

    40% {
        color: lightskyblue;
    }

    60% {
        color: plum;
    }

    80% {
        color: violet;
    }

    100% {
        color: var(--piping);
    }
}